.container{
    display: flex;
    // flex: content;
    align-items: center;
    min-width: 96px;
    height: 90px;
    justify-content: space-around;
    
}

.img{
    position: relative;
    left: 0;
    z-index: 1;


}
