@import "tailwindcss";

:root {
  --background: #1A0B2F;
  --foreground: #ededed;
  --shadow: #3f3071;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  padding: 5px;
}


