.main{

    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 65%;
    justify-content: center;

    align-items: center;



    background-color: rgba($color: #6B696C, $alpha: 10%);
    


}

.header{
    width: 100%;
}
.energy_claim{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: -22px;
    width: 100%;
}

.hr {
    margin-top: 17px;
    margin-bottom: 17px;
    color: #7651DB;
}