.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-bottom: 4%;
    display: flex;
    justify-content: space-around;
  }
  


.Icon{
    color: #787880;
    opacity: 12%;
    position: relative;
    top: 0%;
    left: -50%;
    z-index: 2;
    min-width: 50px;
    min-height: 50px;
}

@media (max-width: 570) {
    .Icon{
      left: -60%;
    
  }
}
  @media (max-width: 400) {
    .Icon{
      left: -70%;
    
  }
  }